body {
  padding-top: 0px;
  padding-bottom: 10px;
}

.donate .btn {
  margin: 5px 0;
  width: 220px;
}

.donate .now-buttons {
	width: 80%;
}

.cover.jumbotron {
	padding: 20px;
	text-align: center;
	background-image: url('group_photo.png');
	background-repeat: none;
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
