/* HTML elements
---------------------------------------------- */
h1,h2,h3 {
  font-weight:bold;
  margin:0 0 10px;
  }
h4,h5,h6 {
  font-weight:bold;
  margin:0 0 5px;
  }
h1 {
  font-size:36px;
  line-height:52px;
  }
h2 {
  font-size:24px;
  line-height:30px;
  }
h3 {
  font-size:22px;
  line-height:28px;
  }
h4 {
  font-size:20px;
  line-height:24px;
  }
h5 {
  font-size:18px;
  line-height:26px;
  }
small {
  font-size:14px;
  line-height:18px;
  }
fieldset {
  margin:0 0 10px;
  }
a       { color:#7092ff; }
a:hover { color:#0a44ff; }

.prose blockquote {
  background-color:transparent;
  border-left:10px solid #eee;
  padding:0 20px;
  }
  blockquote cite {
    text-align:right;
    display:block;
    margin:10px 0;
    }

.options {
  border:2px solid #7092ff;
  border-radius:3px;
  display:table;
  table-layout:fixed;
  width:100%;
  margin:0 0 10px;
  }
.grouped-options {
  display:table-row;
  margin:0;
  padding:0;
  }
.grouped-options label {
  display:table-cell;
  cursor:pointer;
  vertical-align:top;
  padding:0 10px;
  line-height:38px;
  height:40px;
  color:#7092ff;
  border-right:2px solid #7092ff;
  font-weight:bold;
  text-align:center;
  }
.grouped-options input#amount-custom + label {
  border:none;
  }
.grouped-options input[type=radio] { display:none; }
.grouped-options label:hover {
  color:#0a44ff;
  }
.grouped-options input[type=radio]:checked + label {
  background-color:#7092ff;
  color:#fff;
  font-weight:bold;
  }
input[type=text]:focus {
  border:1px solid #7092ff;
  }


/* Structure
---------------------------------------------- */
body { margin-top:40px; margin-bottom:40px; }

/* Sprite
---------------------------------------------- */
.sprite {
  background:transparent url(img/sprite@2x.png) no-repeat 0 0;
  background-size:100px 100px;
  }
  .sprite.logo {
    background-position:0 0;
    width:100px;
    height:100px;
    }

.bg-hardware {
  background-image:url(img/bg.png);
  background-repeat:repeat;
  background-size:200px 200px;
  }

/* Components
---------------------------------------------- */
.progress-bar {
  border-radius:50px;
  height:30px;
  }
.progress {
  border-radius:50px; 
  width:0;
  height:15px;
  top:8px;
  left:8px;
  right:8px;
  }

/* Colors
---------------------------------------------- */
.fill-white     { background-color:#fff; }
.fill-light     { background-color:#eee; }
.fill-dark      { background-color:#595959; }
.fill-darkgreen { background-color:#6ecc8e; }
.fill-green     { background-color:#a2e99f; }
.fill-darken0   { background-color:rgba(0,0,0,0.05); }
.fill-darken1   { background-color:rgba(0,0,0,0.10); }

.color-blue { color:#7092ff; }

a.button,
input[type='submit'] {
  background-color:#7092ff;
  }
a.button:hover,
input[type='submit']:hover {
  background-color:#0a44ff;
  }

/* Custom tweaks
---------------------------------------------- */
.logo + div {
  font-size:18px;
  line-height:0;
  top:50px;
  left:130px;
  }
.before-custom-amount {
  position:absolute;
  top:21px;
  left:10px;
  line-height:0;
  display:block;
  }
input#custom-value:focus,
input:focus + .before-custom-amount {
  color:#7092ff;
  }
  input#custom-value:focus { font-weight:bold; }

input.before {
  padding-left:20px;
  }

.avatar {
  display:inline-block;
  width:30px;
  height:30px;
  border-radius:50%;
  background-size:contain;
  vertical-align:middle;
  margin-right:5px;
  }
  .avatar.andy { background-image:url(img/andy.png); }

/* Mobile
---------------------------------------------- */
@media only screen and (max-width: 640px) {
}
